<div>
    <h1>Chat Facherito</h1>
    <p id="messageLogs"></p>
    <input id="chatbox" placeholder="Escribi algo salame">
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>